CORS_ALLOW_ORIGINS=http://localhost:8000
CORS_ALLOW_ORIGIN_REGEX=http://localhost:\d+
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=GET,POST,OPTIONS,PUT,DELETE,PATCH
SECRET_KEY=change-me-in-production
